.navigation {
    height: 77px;
    width: 100%;
    background-color: $colour-primary;
    color: $colour-secondary;
    font-size: 18;
    box-sizing: border-box;
    position: fixed;
    justify-items: flex-end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-indent: 50px;
    font-weight: bold;
    
}

.intro  {
    display: flex;
    font-size: 24px;
    width: 333px;
    height: 259px;
    left: 20px;
    top: 260px;
    position: absolute;
    display: grid;
    padding-left: 30px;

&__heading {
        font-weight: bold;
}


}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card:hover {
    background-color: aqua;
}

