.navigation {
    height: 77px;
    background-color: $colour-primary;
    color: $colour-secondary;

    color: $colour-secondary bold;
   font-size: 18 bold;
   box-sizing: border-box;
   position: fixed;
   top: 0px;

}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card:hover {
    background-color: aqua;
}
