
.navigation {
    background-color: $colour-primary;
    color: $colour-secondary;
    font-size: 14px;
    box-sizing: border-box;
    text-indent: 30px;
    font-weight: bold;
    z-index: 9999;

    @media screen and (min-width: 768px) and (max-width: 990px) {
        font-size: 18px; 
    }
    @media screen and (min-width: 991px) {
        font-size: 24px;
    }
    }

.header {
    font-size: 13px;
}

.intro  {

    &__heading {
        font-weight: bold;

        @media screen and (min-width: 768px) and (max-width: 990px) {
            font-size: 36px; 
        }
        @media screen and (min-width: 991px) {
            font-size: 70px;
        }
        } 

    &__sub-heading {
        font-weight: normal;
        @media screen and (min-width: 768px) and (max-width: 990px) {
            font-size: 36px; 
        }
        @media screen and (min-width: 991px) {
            font-size: 70px;
        }
    }   

    &__buttondiv {
        margin-top: 40px;
    }

    &__button {
        border: #FCDDEC solid 4px;
        border-radius: 40px;
        padding: 5px;
        font-size: 14px;
        background-color:rgba(255, 255, 255, 0.9);
        ;

        @media screen and (min-width: 768px) and (max-width: 990px) {
            font-size: 18px; 
        }
        @media screen and (min-width: 991px) {
            font-size: 24px;
        }
    }
    }

.sub-heading {
    font-size: 18px;
    font-weight: bold;
         @media screen and (min-width: 768px) and (max-width: 990px) {
            font-size: 30px; 
            }
         @media screen and (min-width: 991px) {
            font-size: 50px;
            } 
}

.project-heading {
    font-size: 18px;
    font-weight: bold;
    z-index: 9999;

    @media screen and (min-width: 768px) and (max-width: 990px) {
        font-size: 30px; 
        }
     @media screen and (min-width: 991px) {
        font-size: 50px;
        } 
}

.card {
    border: 5px solid #FCDDEC;
    box-sizing: border-box;
    text-align: center;

    @media screen and (min-width: 500px) and (max-width: 990px) {
        font-size: 20px;  }
    @media screen and (min-width: 991px) {
        font-size: 30px;   } 

    &__img {
    display: block;
    object-fit: contain;
    width: 100%;
    }

    &__overlay {
    background: rgba(255, 255, 255, 0.9);
    opacity: 0; /*This means it is hidden by defult*/
    transition: 0.25s;
    }

    &__overlay > * {
    /*this targets every child of the overlay*, so title and description*/
    transform: translateY(20px);
    transition: transform 0.25s;
    }

    &__overlay:hover {
    opacity: 1;
    }

    &__overlay:hover > * {
    transform: translateY(0);
    }

    &__overlay:active {
    opacity: 1;
    }

    &__overlay:active {
    transform: translateY(0);
    }
}

.info-page {
    box-sizing: border-box;
    &__info1 {
    font-size: 14px;
    border: 5px solid #FCDDEC;
    box-sizing: border-box;
    max-width: 40vw;

    @media screen and (min-width: 500px) and (max-width: 990px) {
        font-size: 20px;  }
    @media screen and (min-width: 991px) {
        font-size: 30px;   } 
    }

    &__photo img{
    /*border: 5px solid #FCDDEC;
    box-sizing: border-box;
    display: flex;
    max-width: 20vh;
    width: 10vmax; */
   
    border: 5px solid #FCDDEC;
    box-sizing: border-box;
    }
}


.footer > * {

    font-size: 18px;

    @media screen and (min-width: 768px) and (max-width: 990px) {
        font-size: 30px;
    }
    @media screen and (min-width: 991px) {
        font-size: 30px;
    }
}

