//navigation 
//grid 
//header
//footer
/*
layout/
_header.scss
_grid.scss
_sidebar.scss */


.navigation {
    height: 10vh;
    width: 100vw;
    position: fixed;
    justify-items: flex-end;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    }


    .header {
        height: 110vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 13px;
        padding-left: 50px;
        align-content: space-between;
    }



    .intro  {

    &__heading {
        width: 150px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        @media screen and (min-width: 768px) and (max-width: 990px) {
            white-space: nowrap; 
        }
        @media screen and (min-width: 991px) {
            white-space: nowrap;
        }
        } 

    &__sub-heading {
        width: 150px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        font-weight: normal;
        @media screen and (min-width: 768px) and (max-width: 990px) {
            white-space: nowrap; 
        }
        @media screen and (min-width: 991px) {
            white-space: nowrap;
        }
    }   
    }


    .sub-heading {
        justify-content: center;
        display: flex;
        margin: 40px;
    }

    .project-heading {
        position: absolute;
        top: 120vh;
        text-align: center;
        width: 100vw;
    }

    .project-section  /*This was the container re-make*/ { 
        margin-top: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
        
        @media screen and (min-width: 768px) and (max-width: 990px) {
        flex-direction: row;
        flex-wrap: wrap; 
                }
        @media screen and (min-width: 991px) {
        flex-direction: row;
                } 
    }

    .container {
        margin-top: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .card {
        position: relative; /*this keeps the overlay within*/
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px;
        width: 259px;
    }


    .card__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


.info-page {

    width: 100vw;
    display: flex; 
    flex-direction: column;
    padding-top: 100px;

    &__about-me {  /* NOT WORKING */
        
        position: absolute;
        top: 280vh;
        text-align: center;
        width: 100vw;
        /*
        position: relative;
        top: calc(-10vh);  /*if functional this would be the same as the vh for the bubble*/    
    }

    &__card {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding-top: 40px;
   }

    &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*width: 80px;*/
    font-size: 10px;
    margin: 10px;
    }

    &__photo img{
    /*border: 5px solid #FCDDEC;
    box-sizing: border-box;
    display: flex;
    max-width: 20vh;
    width: 10vmax; */
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    height: 100%;
    }
    
    &__contact {
        top: 100vh;
        
    }
}
