//navigation 
//grid 
//header
//footer


.card {

width: 259px;
height: 262px;
left: 52px;
top: 1037px;
border: 5px solid #FCDDEC;
box-sizing: border-box;

}

@media screen and (min-width: 176px) {
    main {
        width: 330px;
    }
}

@media screen and (min-width: 991px) {
    main {
        width: 500px;
    }
}