@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Poppins&display=swap");
* {
  background: linear-gradient(163.3deg, #A8C1ED 11.54%, #F3C1EB 90.45%);
  background-repeat: no-repeat;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.navigation {
  height: 77px;
  background-color: #fcddec solid;
  color: #5b4d8c;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #5b4d8c bold;
  font-size: 18 bold;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 259px;
  height: 262px;
  left: 52px;
  top: 1037px;
  border: 5px solid #FCDDEC;
  box-sizing: border-box;
}