@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Poppins&display=swap");
* {
  padding: 0px;
  margin: 0px;
  color: #5b4d8c;
  font-family: "poppins";
}

a {
  text-decoration: none;
}

.body {
  background: linear-gradient(163.3deg, #A8C1ED 11.54%, #F3C1EB 90.45%);
}

/*components/
_buttons.scss
_navigation.scss
_gallery.scss */
.navigation {
  background-color: #fcddec;
  color: #5b4d8c;
  font-size: 14px;
  box-sizing: border-box;
  text-indent: 30px;
  font-weight: bold;
  z-index: 9999;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .navigation {
    font-size: 18px;
  }
}
@media screen and (min-width: 991px) {
  .navigation {
    font-size: 24px;
  }
}

.header {
  font-size: 13px;
}

.intro__heading {
  font-weight: bold;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .intro__heading {
    font-size: 36px;
  }
}
@media screen and (min-width: 991px) {
  .intro__heading {
    font-size: 70px;
  }
}
.intro__sub-heading {
  font-weight: normal;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .intro__sub-heading {
    font-size: 36px;
  }
}
@media screen and (min-width: 991px) {
  .intro__sub-heading {
    font-size: 70px;
  }
}
.intro__buttondiv {
  margin-top: 40px;
}
.intro__button {
  border: #FCDDEC solid 4px;
  border-radius: 40px;
  padding: 5px;
  font-size: 14px;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .intro__button {
    font-size: 18px;
  }
}
@media screen and (min-width: 991px) {
  .intro__button {
    font-size: 24px;
  }
}

.sub-heading {
  font-size: 18px;
  font-weight: bold;
  /* Bubble needs to increase in size */
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .sub-heading {
    font-size: 30px;
  }
}
@media screen and (min-width: 991px) {
  .sub-heading {
    font-size: 50px;
  }
}

.project-heading {
  font-size: 18px;
  font-weight: bold;
  z-index: 9999;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .project-heading {
    font-size: 30px;
  }
}
@media screen and (min-width: 991px) {
  .project-heading {
    font-size: 50px;
  }
}

.card {
  border: 5px solid #FCDDEC;
  box-sizing: border-box;
}

.card__img {
  display: block;
  object-fit: contain;
  width: 100%;
}

.card__overlay {
  background: rgba(225, 255, 255, 0.9);
  opacity: 0;
  /*This means it is hidden by defult*/
  transition: 0.25s;
}

.card__overlay > * {
  /*this targets every child of the overlay*, so title and description*/
  transform: translateY(20px);
  transition: transform 0.25s;
}

.card__overlay:hover {
  opacity: 1;
}

.card__overlay:hover > * {
  transform: translateY(0);
}

.card__overlay:active {
  opacity: 1;
}

.card__overlay:active {
  transform: translateY(0);
}

.info-page {
  box-sizing: border-box;
}
.info-page__info1 {
  font-size: 14px;
  border: 5px solid #FCDDEC;
  box-sizing: border-box;
  max-width: 40vw;
}
@media screen and (min-width: 500px) and (max-width: 990px) {
  .info-page__info1 {
    font-size: 20px;
  }
}
@media screen and (min-width: 991px) {
  .info-page__info1 {
    font-size: 30px;
  }
}
.info-page__photo img {
  /*border: 5px solid #FCDDEC;
  box-sizing: border-box;
  display: flex;
  max-width: 20vh;
  width: 10vmax; */
  border: 5px solid #FCDDEC;
  box-sizing: border-box;
}

.footer > * {
  font-size: 18px;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .footer > * {
    font-size: 30px;
  }
}
@media screen and (min-width: 991px) {
  .footer > * {
    font-size: 30px;
  }
}

/*
layout/
_header.scss
_grid.scss
_sidebar.scss */
.navigation {
  height: 10vh;
  width: 100vw;
  position: fixed;
  justify-items: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header {
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 13px;
  padding-left: 50px;
  align-content: space-between;
}

.intro__heading {
  width: 150px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .intro__heading {
    white-space: nowrap;
  }
}
@media screen and (min-width: 991px) {
  .intro__heading {
    white-space: nowrap;
  }
}
.intro__sub-heading {
  width: 150px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: normal;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .intro__sub-heading {
    white-space: nowrap;
  }
}
@media screen and (min-width: 991px) {
  .intro__sub-heading {
    white-space: nowrap;
  }
}

.sub-heading {
  justify-content: center;
  display: flex;
  margin: 40px;
}

/*
.project-heading {
    position: absolute;
    top: 120vh;
    text-align: center;
    width: 100vw;
    z-index: 9999;
} */
.project-section {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .project-section {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 991px) {
  .project-section {
    flex-direction: row;
  }
}

.container {
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.card {
  position: relative;
  /*this keeps the overlay within*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  width: 259px;
}

.card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-top: 250px;
}
.info-page__about-me {
  /* NOT WORKING */
  position: absolute;
  top: 287vh;
  text-align: center;
  width: 100vw;
  z-index: 9999;
  /*
  position: absolute;
  top: 280vh;
  text-align: center;
  width: 100vw;
  /*
  position: relative;
  top: calc(-10vh);  /*if functional this would be the same as the vh for the bubble*/
}
.info-page__card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.info-page__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*width: 80px;*/
  font-size: 10px;
  margin: 10px;
}
.info-page__photo img {
  /*border: 5px solid #FCDDEC;
  box-sizing: border-box;
  display: flex;
  max-width: 20vh;
  width: 10vmax; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  width: 100%;
  height: 100%;
}

.footer > * {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: 200px;
}

/*To chagen size of bubble must change the size on circle1(2,3 etc) and overlay3*/
/*Large bubble on hero page*/
.bubble1-container {
  width: 175px;
  height: 171px;
  background-image: linear-gradient(311deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  position: absolute;
  top: 40vh;
  left: 55%;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .bubble1-container {
    width: 250px;
    height: 250px;
  }
}
@media screen and (min-width: 991px) {
  .bubble1-container {
    width: 350px;
    height: 350px;
  }
}

.glass1 {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 175px;
  height: 171px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .glass1 {
    width: 250px;
    height: 250px;
  }
}
@media screen and (min-width: 991px) {
  .glass1 {
    width: 350px;
    height: 350px;
  }
}

/*BUBBLE 2 TOP LEFT HAND CORNER*/
.bubble2-container {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(311deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  position: absolute;
  left: 61px;
  top: 132px;
}

.glass2 {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*BUBBLE 3 TOP RIGHT HAND CORNER*/
.bubble3-container {
  width: 80px;
  height: 80px;
  background-image: linear-gradient(311deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  position: absolute;
  left: 313px;
  top: 51px;
}

.glass3 {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

/*BUBBLE 4 right hand side below big hero page bubble*/
.bubble4-container {
  width: 60px;
  height: 60px;
  background-image: linear-gradient(311deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  position: absolute;
  left: 304px;
  top: 556px;
}

.glass4 {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/*BUBBLE 5 left  bubble below CTAB on hero page, the sizing for this bubbles is same as bubble 2*/
.bubble5-container {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(311deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 641px;
}

.glass5 {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*BUBBLE 6 below right hand sdie above big prjects bubble*/
.bubble6-container {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(311deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  position: absolute;
  top: 864px;
  left: -28px;
}

.glass6 {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*BUBBLE 7 big prjects bubble*/
.bubble7-container {
  width: 175px;
  height: 171px;
  background-image: linear-gradient(311deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  text-align: center;
  position: absolute;
  left: 96px;
  top: 825px;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .bubble7-container {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 991px) {
  .bubble7-container {
    width: 300px;
    height: 300px;
  }
}

.glass7 {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 175px;
  height: 171px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .glass7 {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 991px) {
  .glass7 {
    width: 300px;
    height: 300px;
  }
}

.project-heading {
  line-height: 170px;
  /*
    @media screen and (min-width: 768px) and (max-width: 990px) {
      line-height: 190px;
  }
    @media screen and (min-width: 991px) {
     line-height: 300px; 
  } */
}

/*BUBBLE 8 right hand side below projects bubble, the sizing for this bubbles is same as bubble 2 and 5*/
.bubble8-container {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(311deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  position: absolute;
  left: 301px;
  top: 1067px;
  z-index: -1;
}

.glass8 {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*BUBBLE 9 left hand side below projects bubble, the sizing for this bubbles is same as bubble 3*/
/*This container postiontions the bubble on the page, to change size, H&W must be changed in all classes*/
.bubble9-container {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(311deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 1223px;
}

.glass9 {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*BUBBLE 10 right hand side on project 2, the sizing for this bubbles is same as bubble 3*/
/*This container postiontions the bubble on the page, to change size, H&W must be changed in all classes*/
.bubble10-container {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(311deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  position: absolute;
  left: 286px;
  top: 1480px;
  z-index: -1;
}

.glass10 {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*BUBBLE 11 left hand side on project 2, the sizing for this bubbles is same as bubble 3*/
/*This container postiontions the bubble on the page, to change size, H&W must be changed in all classes*/
.bubble11-container {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(311deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 1659px;
  z-index: -1;
}

.glass11 {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*BUBBLE 12 middle below project 3, the sizing for this bubbles is same as bubble 2 and 5*/
/*This container postiontions the bubble on the page, to change size, H&W must be changed in all classes*/
.bubble12-container {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(311deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  position: absolute;
  left: 173px;
  top: 2064px;
  z-index: -1;
}

.glass12 {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*BUBBLE 13 right hand side aobve about me bubble, the sizing for this bubbles is same as bubble 2 and 5*/
.bubble13-container {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(311deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  position: absolute;
  left: 318px;
  top: 1858px;
  z-index: -1;
}

.glass13 {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*BUBBLE 14 left hand side above about me bubble, the sizing for this bubbles is same as bubble 2*/
/*This container postiontions the bubble on the page, to change size, H&W must be changed in all classes*/
.bubble14-container {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(311deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 2131px;
  z-index: -1;
}

.glass14 {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*BUBBLE 15 big About Me bubble*/
.bubble15-container {
  width: 175px;
  height: 171px;
  background-image: linear-gradient(311deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  text-align: center;
  position: absolute;
  left: 97px;
  top: 2150px;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .bubble15-container {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 991px) {
  .bubble15-container {
    width: 300px;
    height: 300px;
  }
}

.glass15 {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 175px;
  height: 171px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .glass15 {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 991px) {
  .glass15 {
    width: 300px;
    height: 300px;
  }
}

.project-heading {
  line-height: 170px;
  /*
    @media screen and (min-width: 768px) and (max-width: 990px) {
      line-height: 190px;
  }
    @media screen and (min-width: 991px) {
     line-height: 300px; 
  } */
}

/*BUBBLE 16 big Contact bubble*/
.bubble16-container {
  width: 175px;
  height: 171px;
  background-image: linear-gradient(311deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  text-align: center;
  position: absolute;
  left: 105px;
  top: 2820px;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .bubble16-container {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 991px) {
  .bubble16-container {
    width: 300px;
    height: 300px;
  }
}

.glass16 {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 175px;
  height: 171px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .glass16 {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 991px) {
  .glass16 {
    width: 300px;
    height: 300px;
  }
}

.project-heading {
  line-height: 170px;
  /*
    @media screen and (min-width: 768px) and (max-width: 990px) {
      line-height: 190px;
  }
    @media screen and (min-width: 991px) {
     line-height: 300px; 
  } */
}

/*BUBBLE 17 */
.bubble17-container {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(311deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  position: absolute;
  left: 27px;
  top: 2651px;
  z-index: -1;
}

.glass17 {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*BUBBLE 18*/
.bubble18-container {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(311deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  position: absolute;
  left: 277px;
  top: 2363px;
  z-index: -1;
}

.glass18 {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*BUBBLE 19*/
.bubble19-container {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(311deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  position: absolute;
  left: 325px;
  top: 2703px;
  z-index: -1;
}

.glass19 {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*BUBBLE 20*/
.bubble20-container {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(311deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.18);
  border-radius: 50%;
  position: absolute;
  left: 277px;
  top: 2363px;
  z-index: -1;
}

.glass20 {
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}